/* GENERAL STYLES */
:root{
    --pink: #f8c3cb;
    --blue: #95c3ec;
    --green: #0CF2A2;
    --yellow: #fad445;
    --white: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 2px solid black;
}
body{
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.slider {
    height: 450px;
    width: 70%;
    display: flex;
    justify-content: center;
}
.big-active-img{
    width: 100%;
}
.big-active-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
